
body {
    font-family: Arial;
    text-align: center;
}

#given-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

input {
    flex: 1;
    padding: '10px';
    font-size: '16px';
    border-radius: '50px';
    border: '1px solid #ccc';
    width: '100%';
}