
body {
    font-family: Arial;
    text-align: center;
}

#given-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

input {
    flex: 1;
    padding: '10px';
    font-size: '16px';
    border-radius: '50px';
    border: '1px solid #ccc';
    width: '100%';
}

#score-section {
    position: relative;
    top: 20px;
    left: 50px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#timer-section {
    position: relative;
    top: 20px;
    right: 50px;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.start-button {
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.scorebar-style {
    width:100%;
    background: #ececec40;
    height:100px;
    font-size: 50px;
    position: relative;
    top: 225px;
}

.tryAgainLink {
    font-size: 20px;
    position: relative;
    top: -20px;
}

.form {
    width: 30%;
    height: 60%;
    position: absolute;
    background-color: lightgray;
    text-align: center;
    top: 0%;
    left: 35%;
}